.upload-container {
  text-align: center;
  margin-top: 20px;
}

.start-upload-button {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.upload-box {
  width: 45%;
  text-align: center;
}

.custom-file-upload {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.analysis-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.analysis-box {
  width: 45%;
  text-align: center;
}

.analysis-image {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.result-message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.result-message.success {
  color: #155724;
  background-color: #d4edda;
}

.result-message.error {
  color: #721c24;
  background-color: #f8d7da;
}

#stego-upload {
  display: none; /* Oculta el input de tipo file */
}

#original-upload{
  display: none; /* Oculta el input de tipo file */
}